:host ::ng-deep{
  angular-markdown-editor{
    button{
      font-size:.8rem !important;
      padding:0.4rem .6rem !important;
      color: #222222 !important;
      &:hover{
        color: aliceblue !important;
        transition: color .1s;
      }
    }
  }

}
