<!-- Contenedor Principal -->
<div class="comments-container">
  <h1>Comentarios</h1>

  <ul id="comments-list" class="comments-list">
    <li *ngFor="let mainComment of comments;let i = index">
      <div class="comment-main-level patch-main">
        <!-- Avatar -->
        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
        <!-- Contenedor del Comentario -->
        <div class="comment-box">
          <div class="comment-head">
            <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">{{mainComment.main.username}}</a></h6>
            <span>hace 20 minutos</span>
            <i class="fa fa-reply" (click)="reply(i,mainComment.main.username)"></i>
            <i class="fa fa-heart" [ngClass]="{'red-heart': getHeart(mainComment.main.like || [''])}" (click)="heart(i,mainComment.main)"></i>
          </div>
          <div class="comment-content">
            {{mainComment.main.message}}
          </div>
        </div>
      </div>
      <!-- Respuestas de los comentarios -->
      <ul class="comments-list reply-list patch-reply">

        <li *ngFor="let subComment of mainComment.sub; let j = index">
          <!-- Avatar -->
          <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
          <!-- Contenedor del Comentario -->
          <div class="comment-box">
            <div class="comment-head">
              <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">{{subComment.username}}</a></h6>
              <span>hace 10 minutos</span>
              <i class="fa fa-reply" (click)="reply(i,subComment.username,j)"></i>
              <i class="fa fa-heart" [ngClass]="{'red-heart': getHeart(subComment.like || [''])}" (click)="heart(i,subComment,j)"></i>
            </div>
            <div class="comment-content">
             {{subComment.message}}
            </div>
          </div>
        </li>
      </ul>
    </li>


  </ul>
</div>

<div class="add-comment">
    <span class="toWho">{{toWho}}</span>
  <textarea placeholder="Comment" [(ngModel)]="yourComment">

  </textarea>
  <button (click)="comment()">COMMENT</button>
</div>
