<main class="page">

  <!-- Title -->


  <!-- Content -->
  <div class="page-content">

      <!-- Placeholder Content -->
      <div class="placeholder-content" *ngFor="let item of _nums">
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
      </div>

  </div>

</main>
