<div class="content">
  <div class="max-width">
    <!-- 左邊開始-->
    <div class="left">
      <!--技能開始-->
      <div class="skills">
        <div class="con-title sk-title">SKILLS</div>
        <div class="skill-content">
          <div class="skill-con-left">
            <div class="skill-bar"><span>RXJS</span>
              <div class="skill-level">
                <div class="yes"></div>
                <div class="yes"></div>
                <div class="yes"></div>
                <div class="no"></div>
                <div class="no"></div>
              </div>
            </div>
            <div class="skill-bar"><span>CSS</span>
              <div class="skill-level">
                <div class="yes"></div>
                <div class="yes"></div>
                <div class="yes"></div>
                <div class="no"></div>
                <div class="no"></div>
              </div>
            </div>
            <div class="skill-bar"><span>JavaScript</span>
              <div class="skill-level">
                <div class="yes"></div>
                <div class="yes"></div>
                <div class="yes"></div>
                <div class="yes"></div>
                <div class="no"></div>
              </div>
            </div>
          </div>
          <div class="skill-con-right">
            <div class="skill-bar"><span>TypeScript</span>
              <div class="skill-level">
                <div class="yes"></div>
                <div class="yes"></div>
                <div class="yes"></div>
                <div class="yes"></div>
                <div class="no"></div>
              </div>
            </div>
            <div class="skill-bar"><span>Angular</span>
              <div class="skill-level">
                <div class="yes"></div>
                <div class="yes"></div>
                <div class="yes"></div>
                <div class="yes"></div>
                <div class="no"></div>
              </div>
            </div>
            <div class="skill-bar"><span>Nodejs</span>
              <div class="skill-level">
                <div class="yes"></div>
                <div class="yes"></div>
                <div class="yes"></div>
                <div class="no"></div>
                <div class="no"></div>
              </div>
            </div>
            <div class="skill-bar"><span>Ubuntu</span>
              <div class="skill-level">
                <div class="yes"></div>
                <div class="yes"></div>
                <div class="no"></div>
                <div class="no"></div>
                <div class="no"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="right">
      <!-- 語言能力開始-->
      <div class="languagues">
        <div class="con-title la-title">LANGUAGES</div>
        <div class="la-content">
          <div class="chinese">
            <h3>CHINESE</h3>
            <h4>native</h4>
          </div>
          <div class="outer-jp">
            <div class="sq1-jp"></div>
            <div class="sq2-jp"></div>
            <div class="sq3-jp"></div>
            <div class="inner-jp">
              <h3>JAPANESE</h3>
              <h4>JLPT N2</h4>
            </div>
          </div>
          <div class="outer-eng">
            <div class="sq1-eng"></div>
            <div class="sq2-eng"></div>
            <div class="inner-eng">
              <h3>ENGLISH</h3>
              <h4>CET4</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- 語言能力結束-->


      <!-- 右邊結束-->
      <!-- 內容結束-->
    </div>
    <!-- 作品集開始-->
    <div class="portfolio">
      <div class="con-title sk-title">PROTFOLIO</div>
      <div class="project" fxLayout="row" fxLayoutAlign="start start">
        <div class="shokai" fxFlex="100%">

          <h3>基础信息</h3>
          <p> <span class="subTitle">名称：</span> 415书城</p>
          <p><span class="subTitle">框架：</span>使用的ionic3，打包到我的红米note手机很流畅。</p>
          <h3>特点</h3>
          <p>auth登录注册这部分用了ngxs进行全局性的数据状态共享，
            代码逻辑清晰，组件耦合低，最内层的组件几乎没有逻辑。
            并且ngxs比ngrx能省很多代码是angular风格的redux。
          </p>
          <p>由于后台django正在忙碌，应用暂只前端。
            一组interceptor进行mock返回数据，
            一组interceptor根据req的参数来缓存数据到localstorage，提高用户体验。
            一组interceptor对所有的responseError进行统一处理。
          </p>
          <p>
            表单部分直接用的模板表单，新增了几个用于电话号码，姓名的表单校验指令。
          </p>
          <p>已经写了20几个页面，大部分页面几乎都是lazyLoad,不过其实也没有必要，
            毕竟这些页面很小只有几k，对于手机app来说没有什么感觉。
          </p>
          <p><span class="subTitle">restAPI思维导图：</span>
            <a href="https://www.processon.com/view/link/5bd598d6e4b0eb8eb048f3ab" target="view_window">https://www.processon.com/view/link/5bd598d6e4b0eb8eb048f3ab</a> </p>
          <p><span class="subTitle">DEMO:</span>
            用手机浏览器或者电脑浏览器的手机模式<a href="http://book.yukarin.cn" target="view_window">打开book.yukarin.cn</a> 浏览</p>

          <p><span class="subTitle">GIT:</span>
            <a href="https://github.com/Karin001/415book" target="view_window">https://github.com/Karin001/415book</a></p>


        </div>

        <div class="showGif" fxFlex="256px">

          <img src="https://yu-mdfile.oss-cn-hangzhou.aliyuncs.com/blog/job-book.gif.gif" alt="">
          <img src="https://yu-mdfile.oss-cn-hangzhou.aliyuncs.com/blog/job-book-area.gif.gif" alt="">
          <img src="https://yu-mdfile.oss-cn-hangzhou.aliyuncs.com/blog/job-book-detail.gif.gif" alt="">
          <img src="https://yu-mdfile.oss-cn-hangzhou.aliyuncs.com/blog/job-book-order.gif.gif" alt="">
        </div>
      </div>
      <!-- project2 start-->
      <div class="project" fxLayout="row" fxLayoutAlign="start start">
        <div class="shokai" fxFlex="100%">
          <h3>基础信息</h3>
          <p> <span class="subTitle">名称：</span> upwork项目</p>
          <p><span class="subTitle">框架：</span>angular6</p>
          <h3>特点</h3>
          <p>用flexlayout模块快速实现响应式布局。
          </p>
          <p>
            没有使用ui框架
          </p>

          <p><span class="subTitle">DEMO:</span>
            <a href="http://poolpros.yukarin.cn" target="view_window">http://poolpros.yukarin.cn</a> </p>

          <p><span class="subTitle">GIT:</span>
            <a href="https://github.com/Karin001/action1" target="view_window">https://github.com/Karin001/action1</a></p>
        </div>
        <div class="showGif2" fxFlex="500px">

          <img src="https://yu-mdfile.oss-cn-hangzhou.aliyuncs.com/blog/job-action1.gif" alt="">

        </div>
      </div>
      <!-- project3 start -->
      <div class="project" fxLayout="column" fxLayoutAlign="start start">
        <div class="shokai" >
          <h3>基础信息</h3>
          <p> <span class="subTitle">名称：</span>元件小屋</p>
          <p><span class="subTitle">前台框架：</span>angular4，material</p>
          <p><span class="subTitle">后台框架：</span>express</p>
          <p><span class="subTitle">数据库：</span>mongodb</p>
          <h3>特点</h3>
          <p>我的第一个angular项目，为公司硬件开发部门做的一个管理元器件的webapp。任何时候，只要有网，有电脑，就可以进行记录,省去excel的痛苦。
          </p>


          <p>可以自动提示元件封装，型号,提高输入效率，可以根据属性进行元件筛选，支持单个批量元器件增删改查，支持从excel表导入数据。
            后期同事对项目和采购功能需求不大，因此我也没有再继续更新。</p>
          <p>后端express作为restapi使用，auth认证由session进行保存，可以注册登录，上传头像，增删改查元器件</p>

          <p>
            部署时把ng打包后的文件放在express中的静态资源下进行处理。最后git推到heroku托管。
          </p>
          <p>
              <span class="subTitle">缺点：</span> 一堆东西最后全在appmodule中，service放的很乱，
              太急于订阅Observable，几乎没有pipe处理，subscribe中逻辑较多。
            </p>

            <p><span class="subTitle">restAPI思维导图：</span>
              <a href="https://www.processon.com/view/link/5bd59836e4b0eb8eb048f2a0" target="view_window"> https://www.processon.com/view/link/5bd59836e4b0eb8eb048f2a0</a> </p>
          <p><span class="subTitle">DEMO: 登录名：zoro3 密码：111111</span>
            <a href="https://monopool.herokuapp.com" target="view_window">https://monopool.herokuapp.com</a> </p>

          <p><span class="subTitle">前端GIT:</span>
            <a href="https://github.com/Karin001/mono" target="view_window">https://github.com/Karin001/mono</a></p>
          <p><span class="subTitle">后台GIT:</span>
            <a href="https://github.com/Karin001/mono-restapi" target="view_window">https://github.com/Karin001/mono-restapi</a></p>
        </div>
        <div  >

            <img src="https://yu-mdfile.oss-cn-hangzhou.aliyuncs.com/blog/job-mono.gif.gif" alt="">

          </div>

      </div>
      <!-- project4 start -->
      <div class="project" fxLayout="column" fxLayoutAlign="start start">

        <div class="shokai" >
            <h3>基础信息</h3>
            <p> <span class="subTitle">名称：</span>这个博客</p>
            <p><span class="subTitle">前台框架：</span>angular6，nebular</p>
            <p><span class="subTitle">后台框架：</span>koa</p>
            <p><span class="subTitle">数据库：</span>mongodb</p>
            <h3>特点</h3>
            <p>这个博客试了试nebular这个框架，它集成了几个很方便的模块，比如auth认证和权限校验模块，可以让开发者坐地起飞（官方说法）
            </p>
            <p>构建部分参考了ngalain的模式，core里面只放一些全局性的provider，shared是第三方包，routing由最外层的layout和内层懒加载的模块组成。
              整个项目规规整整，后期维护，增加新功能十分方便。
              </p>
              <p>
                写了一个每日访客统计指令，数据保存到后台，前端用echart简单显示。
              </p>
            <p>配合后端的jsonwebtoken，可以快速实现用户分级，比如：我的账号登录可以写博客发博客，以后可以方便增加很多好玩的东西了</p>
            <p>
              前后端分离部署，客户端的请求用nginx进行代理转发到真正apiServer进行处理。虽然前后端都是我一个人写的。感觉还是清爽许多。
            </p>



            <p><span class="subTitle">前端GIT:</span>
              <a href="https://github.com/Karin001/ng-starter" target="view_window">https://github.com/Karin001/ng-starter</a></p>
            <p><span class="subTitle">后台GIT:</span>
              <a href="https://github.com/Karin001/authServer" target="view_window">https://github.com/Karin001/authServer</a></p>
          </div>

        </div>
        <!-- others -->
        <div class="project" fxLayout="column" fxLayoutAlign="start start">

            <div class="shokai" >
                <h3>杂项</h3>

                <p> <span class="subTitle">放假时录得两个视频：</span>
                  <a href="https://www.bilibili.com/video/av33252920" target="view_window">【视频】教你制作弹出菜单</a>
                  <a href="https://www.bilibili.com/video/av33351288" target="view_window">【视频】教你制作push-delete按键</a>
                  </p>
                <p><span class="subTitle">fabricjs小游戏：</span>
                  <a href="http://flyyybird.herokuapp.com" target="view_window">flapybird</a>
                </p>
                <p><span class="subTitle">一个得了两个星的动态表单组件 (-_-)：</span>
                  <a href="https://github.com/Karin001/ngx-dynamic-form" target="view_window">制作push-delete</a>
                </p>
                <p><span class="subTitle">stackblitz小组件：</span>
                  <a href="https://stackblitz.com/edit/angular-yu-drag-drop" target="view_window">层级拖拽</a>
                  <a href="https://stackblitz.com/edit/angular-pushdelet" target="view_window">push-delete</a>
                </p>
              </div>

            </div>
    </div>
    <!-- 作品集結束-->
  </div>
</div>
