<div class="scene" *ngIf="!openFile">
    <div class="upper">
    
      <div class="star1"></div>
      <div class="star2"></div>
      <div class="star3"></div>
      <div class="cloud1">
        <div class="circle"></div>
        <div class="filler"></div>
      </div>
      <div class="cloud2">
        <div class="circle"></div>
        <div class="filler"></div>
      </div>
     <div class="confirm">
        <input nbInput [(ngModel)]="doubanCode" placeholder="  请敲门      ^_^" type="text">
        <button nbButton (click)="checkVal()">click</button>
     </div>
    </div>
   
  </div>
  <div >
      <p>2016年7月，还没过完生日，我的焦虑症状就爆发了。</p>
      <p>从前轻而易举做到的事变得难以完成。有次小区停水，我去打水，
          提着桶走到半路便觉得自己快要挂了，立刻回去躺下，然后努力的呼气吸气，过了很久才有所缓解。
      </p>
      
      <p>难以割舍的习惯与爱好也突然间消失，让我每天就这么赤裸裸的面对着自己的弱小。我感到很绝望。
      </p>
      <p>
        渐渐我察觉到这种绝望似乎以前也曾有一闪而过，可我未曾关注它们，我选择了逃避，沉迷于于虚幻中。
        很早的时候我失眠，接着一段时间心慌，我并未意识到这是对我的警告，提醒我应该有所改变。
      </p>
      <p>
          “重度焦虑，抑郁” 这是我去4医院时，医生跟我下的结论。
          在做测试题的时候，我发现每一道题目似乎都是一道镜子，照出我与曾经的我。
          这种感觉就像自己看着自己却不认识自己。
          医生在测试结果出来之前，看我年纪，问我想不想耍朋友，
          我撒了谎，因为我觉得自己没有资格，我这个样子实在没有脸去折腾别人。
      </p>
    
      <p>
        离开医院，我没有吃药。之后受不，就又去了医院。这次医生重新给开了点简单的药，我才吃了。         
      </p>
      <p>
          焦虑爆发之后我瘦了20斤，每天近乎疯狂的掉头发，像是变了一个人。
          同事对我的状态很惊讶，我总是努力装作正常，说什么肠胃不好之类的搪塞过去。
          其实我已经偷偷请好了两个月的假，准备在快要爆炸的时候逃离出去。
        </p>
        <p>
            好在我没有爆炸。
            在我最难受的那段时间，几乎没有遇到让我为难的事，公司的事务变得相对简单，
            需要消耗体力的活动也都被我一一化解开来。
        </p>
        <p>
            我渐渐又开始看看书，偶尔看看电视，有时候会看到一些令我振奋的东西，我知道我需要那些能量，我总是不会轻易
            放过。
        </p>
        <p>
            我开始重新变得怀旧，以前我也怀旧，但没有这次这样有目的性。我想回到原点。
            我小时候喜欢看动画片，我就到网易云找BGM，在上班的路上听。
            听到熟悉的旋律时，往往是那么一刹那，眼睛会湿润一下，然后我握紧了拳头，告诉自己，我要努力。
        </p>
        <p>就这样很中二的走在路上，日复一日。</p>
        <p>我开始迷上了写代码，喜欢这种单纯的投入，而对方一定会回应你</p>
        <p>
            
        </p>

  </div>
 