
<div class="wrapper">
  <div class="container">
    <div class="profile">
      <div class="meta"><img class="avatar" src="assets/acharya01.jpg"/>
        <h2>yukarin</h2>
        <div class="position">Front-end Developer</div>
        <div class="social">
          <a href="https://github.com/Karin001"><i class="fab fa-github"></i></a>

        </div>
      </div>
      <div class="overlay"></div>
    </div>
    <div class="portfolio">
      <h1>hello</h1>
      <p>这是我用来求职和交友的web。</p>
      <p>目前定居成都，已经到了不安分的年纪还是没有安分下来。</p>
      <p class="kyocho">主攻前端，Angular。</p>
      <p>因为js了，所以有时也会写写koa，放在自己租的阿里云上。</p>
      <p>最近正在修炼rxjs，推荐《深入浅出rxjs》一书。</p>
      <div> <a href="#" [routerLink]="['/hr']" class="btn btn-sm animated-button victoria-one">HR大佬点此</a> </div>
      <div> <a href="#" [routerLink]="['/douban']" class="btn btn-sm animated-button victoria-two">豆友看这里</a> </div>
    </div>
  </div>

</div>

