<nb-layout>
  <nb-layout-header fixed>

    <a href="#"><i class="nb-menu" (click)="toggle()"></i></a>
    Company Name
    <!-- <nb-actions>
      <nb-action icon="nb-home"></nb-action>
      <nb-action icon="nb-search"></nb-action>
    </nb-actions> -->
    <nb-search type="rotate-layout"></nb-search>
    <nb-user size="middle"
    [onlyPicture]="avatarOnlyPicture"
    [name]="user?.name || '访客'"
    [title]="user?.name?'已登录':'点击登录 获得更多权限'"
    nbContextMenuPlacement ="left"
    [nbContextMenu]="menu"
    nbContextMenuTag="my-context-menu">
</nb-user>


  </nb-layout-header>

  <nb-sidebar [fixed]="sidebarFixed"  [state]="sidebarState">
    <nb-menu [items]="items" >
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>
