<nb-layout>
  <nb-layout-header fixed>

    <a href="#"><i class="nb-menu" (click)="toggle()"></i></a>
    截流
    <nb-actions>
      <nb-action icon="fas fa-sun" (click)="changeTheme('default')"></nb-action>
      <nb-action icon="fas fa-moon" (click)="changeTheme('dark')"></nb-action>
    </nb-actions>
    <nb-user size="middle"
    [onlyPicture]="avatarOnlyPicture"
    [name]="user?.name || '访客'"
    [title]="title"
    nbContextMenuPlacement ="left"
    [appYkContextMenu]="menu"
    >
</nb-user>


  </nb-layout-header>

  <nb-sidebar [nbSpinner]="false" nbSpinnerStatus="active" [fixed]="sidebarFixed"  [state]="sidebarState">
    <!-- <nb-menu [items]="items" >
    </nb-menu> -->
    <ul>
        <li [routerLink]="['/blog/list/skill']"><a>技术博客</a></li>
        <li  [routerLink]="['/blog/list/seikats']"><a>Entertainment</a></li>
        <li [routerLink]="['/visitor/list/hoka']"><a >訪問者データ</a></li>
        <li [routerLink]="['/blog/list/skill']"><a >作品</a></li>
        <li *nbIsGranted="['create', 'blog']" [routerLink]="['/edit/edit-blog']"><a>写博客</a></li>
        <li *ngIf="!user?.name" [routerLink]="['/auth/login']"><a> 登录</a></li>
        <li *ngIf="!user?.name" [routerLink]="['/auth/register']"><a>注册</a></li>
      </ul>

  </nb-sidebar>

  <nb-layout-column [@ninjia]="routerAnimationState">
    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>
