@import '~include-media/dist/_include-media';

:host {
  $auth-layout-padding: 2.5rem;

  nb-card {
    margin: 0;
    height: calc(100vh - 2 * #{$auth-layout-padding});
    display: flex;
    flex-direction: column;
  }

  .navigation .link {
    text-decoration: none;

    .icon {
      font-size: 2rem;
    }
  }

  nb-card-body {
    display: flex;
    justify-content: center;
    width: 100%;
    flex:1;
  }

  nb-auth-block {
    margin: auto;
  }



  /deep/ {
    nb-layout .layout .layout-container .content .columns nb-layout-column {
      @include media("<tablet") {
        padding: 0
      }
      padding: $auth-layout-padding;


    }
  }
}
